ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}


.dropdown__content {
    box-shadow: 0px 4px 8px rgba(0,  0, 0, 0.1);
    width: 150px;
    position: absolute;
}

.dropdown__content a {
    display: block;
}

.dropdown, li:hover .dropdown__content {
    display: block;
}