.teste {
    background-color: red;
}

@media screen and (max-width: 600px) {
    .teste {
        background-color: aqua;
    }
}

@media screen and (min-width: 768px) {
    .teste {
        background-color: green;
        text-align: center;
        color: #fff;
    }
}

@media screen and (min-width: 1008px) {
    .teste {
        background-color: blue;
        height: 100px;
    }
}